<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BIENVENIDO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>CURRICULUM</h2>
  <ion-list>
    <ion-item>
      <ion-textarea label="Nombres y Apellidos" placeholder="María Iveth Cocha Ger"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea  label="Cedula" placeholder="1728141571"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea  label="Fecha de Nacimiento" placeholder="16 de Noviemnre del 2001"></ion-textarea>
    </ion-item>
  </ion-list>

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 pages"></app-explore-container> -->
</ion-content>
